<h1 app__title>
    
    Perfect Match

</h1>

<ng-container *ngIf=" !code && !enterCode ">

    <button app__button
            type="button"
            (click)=" newGame() ">

        Neues Spiel

    </button>

    <button app__button="info"
            type="button"
            (click)=" enterCode = true ">

        Code eingeben

    </button>

</ng-container>

<ng-container *ngIf=" !code && enterCode ">

    <form app__form
          (submit)=" setCode() "
          #form="ngForm">

        <label app__label
               for="code">Code</label>

        <input app__input
               name="code"
               ngModel
               required
               pattern="[{{ characters }}]{6}" />

        <button app__button
                type="submit"
                [disabled]=" form.invalid ">
        
            Bestätigen
        
        </button>

        <button app__button="danger"
                type="button"
                (click)=" enterCode = false ">
        
            Zurück
        
        </button>

    </form>

</ng-container>

<ng-container *ngIf=" code && category ">

    <div app__code>

        Spiel #{{ code }}

    </div>

    <div app__round>
    
        Runde {{ round }} / {{ rounds }}
    
    </div>

    <div app__scoreboard>

        <button app__button="info"
                type="button"
                (click)=" score = score ? score - 1 : 0 ">

            &minus;

        </button>

        <div app__score>

            {{ score }} {{ score === 1 ? 'Punkt' : 'Punkte' }}

        </div>

        <button app__button="info"
                type="button"
                (click)=" score = score + 1 ">
        
            &#43;
        
        </button>


    </div>

    <div app__category>

        <div app__from>{{ category.from }}</div>

        <div app__to>{{ category.to }}</div>

    </div>

    <div app__scale
         (pointerdown)=" startDrag($event) "
         #scale>

        <div app__indicator
             [style.display]=" hideIndicator ? 'none' : 'flex' "
             [style.left.%]=" indicator ">

            <div app__indicator-2>2</div>
            <div app__indicator-3>3</div>
            <div app__indicator-4>4</div>
            <div app__indicator-3>3</div>
            <div app__indicator-2>2</div>

        </div>

        <svg app__answer
             viewBox="0 0 2 2"
             preserveAspectRatio="none"
             [style.left.px]=" answer ">

            <polygon points="1,0 2,2 0,2" />

        </svg>

    </div>

    <div app__markers>

        <div app__marker
             *ngFor=" let marker of markers ">

             <div app__value
                  *ngIf=" marker % 10 === 0 ">

                {{ marker }}

            </div>

        </div>

    </div>

    <button app__button
            type="button"
            [disabled]=" round === rounds "
            (click)=" nextRound() ">

        Nächste Runde

    </button>

    <button app__button="warning"
            type="button"
            (click)=" toggle() ">

        {{ hideIndicator ? 'Ziel anzeigen' : 'Ziel verbergen' }}

    </button>

    <button app__button="info"
            type="button"
            (click)=" rounds = rounds + 1 ">
    
        Runde hinzufügen
    
    </button>

    <button app__button="danger"
            type="button"
            (click)=" endGame() ">
    
        Beenden
    
    </button>

</ng-container>
